@import url(https://fonts.googleapis.com/css?family=Lato);

/* CENTERING */

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}


/* /end */

body {
    /* background-image: url(); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

h3 {
    position: relative;
    left: 45%;
}


/* THE FRONT */

.front {
    background-image: url(../images/Bharathikannan.jpg);
    background-size: cover;
}


/* /end */


/* THE BACK */

.back {
    /* background-image: url(); */
    background-size: cover;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
}

.back h1,
.back p,
.back .font-a-icons {
    color: rgb(172, 212, 228);
    font-family: "Lato";
    text-align: center;
    line-height: 90%;
    display: block;
    margin: 0 auto;
    max-width: 80%;
}

.back h1 {
    margin-top: 5%;
    white-space: nowrap;
}

.back p {
    font-size: 16px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(172, 212, 228);
}

.back .bold {
    font-weight: bold;
}

.back .font-a-icons {
    margin-top: 25px;
}

.back .font-a-icons .icon-group {
    margin-top: 8px;
}

.back .font-a-icons span,
.back .font-a-icons .link,
.back .font-a-icons .fa,
.back .font-a-icons a {
    color: rgb(172, 212, 228);
}

.back .font-a-icons .fa {
    font-size: 18px;
}

.back .font-a-icons span,
.back .font-a-icons a {
    font-size: 16px;
}

.back .font-a-icons a,
.back .font-a-icons .website {
    text-decoration: none;
}

.back .font-a-icons a:hover,
.back .font-a-icons .website:hover {
    color: #3f3f3f;
}

.back .icon-box {
    position: relative;
    background-color: #39b7c5;
    color: #fff;
    font-size: 24px;
    height: 45px;
    width: 45px;
    padding: 5px;
    top: 60px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border: none;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.back .icon-box:hover {
    box-shadow: inset 0 50px 0 0 #307a1d;
    color: #fff;
}


/* /end */


/* THE FLIP EFFECT */


/* entire container, keeps perspective */

.flip-container {
    perspective: 1000px;
}


/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-container:hover .front,
.flip-container.hover .front {
    display: none;
}

.flip-container,
.back {
    height: 350px;
    width: 600px;
}

.front {
    height: 200px;
    width: 200px;
    top: calc(50% + 50px);
    left: calc(50% - 100px);
    border-radius: 50%;
}

.flipper {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
}

.front {
    z-index: 2;
    /* firefox 31 */
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.vertical.flip-container {
    position: relative;
}

.vertical .back {
    transform: rotateX(180deg);
}

.vertical.flip-container .flipper {
    transform-origin: 100% 400x;
}

.vertical.flip-container:hover .flipper {
    transform: rotateX(-180deg);
}
